body {
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.block-container {
  width: 600px;
  height: 384px;
  position: relative;
  margin: 0 auto;
  bottom: 50px;
}

.block {
  width: 28px;
  position: absolute;
  left: -230px;
  bottom: -150px;
  background-color: #55a9e9;
  transition: 0.2s all ease;
}

.block__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
}