body {
    background-color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.coor {
    text-align: center;
    color: blanchedalmond;
}

.grid {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid lightseagreen;
}

.box-start {
    background-color: orange;
    pointer-events: none;
}

.box-end {
    background-color: red;
    pointer-events: none;
}

.box-visited{
    background-color: purple;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation{
    0% {
        transform: scale(.1);
        background-color: lime;
    }

    30% {
        transform: scale(1.1);
        background-color:blue;
    }

    60% {
        transform: scale(1.0);
        background-color:gold;
    }

    100% {
        transform: scale(1.0);
        background-color: purple;
    }
}

.box-wall {
    animation-name: wallAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: lime;
    }

    30% {
        transform: scale(1.6);
        background-color:purple;
    }

    60% {
        transform: scale(1.6);
        background-color:gold;
    }

    100% {
        transform: scale(1.0);
        background-color: lime;
    }
}