body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
}

.disableLink{
  pointer-events: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  cursor: pointer;
  display: inline;
  float: left;
  font-size: 1.5rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.block-container {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}

.block {
  display: inline-block;
  margin: 0.1vw;
  width: 0.93vw;
  background-color: #55a9e9;
  transition: 1.0s all ease;
}