body {
    background-color: #333333;
    /* background-color: white; */
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
    float: left;
    font-size: 3.4vh;
    cursor: pointer;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav-box-start {
    width: 1.6vw;
    height: 3.3vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: orange;
}

.nav-box-end {
    width: 1.6vw;
    height: 3.3vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: red;
}

.nav-box-wall {
    width: 1.6vw;
    height: 3.3vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: lime;
}

.node-bar>ul {
    list-style-type: none;
    padding: 15px;
    background-color: #333;
}

.node-bar>li {
    list-style-type: none;
    padding: 50px;
    background-color: #333;
}

.node-bar>p {
    color: white;
    margin:1%;
}

.grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    display: inline-block;
    margin: 0;
    width: 1.6vw;
    height: 3.3vh;
    box-sizing: border-box;
    border: 1px solid lightseagreen;
}

.box-start {
    background-color: orange;
    cursor: grab;
}

.box-end {
    background-color: red;
    cursor: grab;
}

.box-over {
    animation-name: boxOver;
    animation-duration: 0.05s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes boxOver {
    0% {
        transform: scale(.3);
        background-color: lightseagreen;
    }

    25% {
        transform: scale(.7);
        background-color: lightseagreen;
    }

    50% {
        transform: scale(1.4);
        background-color: lightseagreen;
    }

    75% {
        transform: scale(1.2);
        background-color: lightseagreen;
    }

    100% {
        transform: scale(1.0);
        background-color: lightseagreen;
    }
}

.box-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: purple;
    }

    20% {
        transform: scale(1.1);
        background-color: lightseagreen;
    }

    50% {
        transform: scale(1.4);
        background-color: gold;
    }

    80% {
        transform: scale(1.1);
        background-color: lightseagreen;
    }

    100% {
        transform: scale(1.0);
        background-color: purple;
    }
}

.box-wall {
    animation-name: wallAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
        transform: scale(0.5);
        background-color: lime;
    }

    50% {
        transform: scale(1.4);
        background-color: lightseagreen;
    }

    100% {
        transform: scale(1.0);
        background-color: lime;
    }
}

.box-path {
    animation-name: finishedPath;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes finishedPath {
    0% {
        transform: scale(.5);
        background-color: lime;
    }

    50% {
        transform: scale(1.4);
        background-color: lightseagreen;
    }

    100% {
        transform: scale(1.0);
        background-color: yellow;
    }
}